<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <ConnectionStrings>
      <add name="ConnStringLocal"
       providerName="System.Data.SqlClient"
       ConnectionString="Server=localhost;Database=tp2_net;Integrated
       Security=false; User=sa; Password=P@$$w0rd;"/>
       <add name="ConnStringExpress"
       providerName="System.Data.SqlClient"
       ConnectionString="Server=ROSARIO;Database=tp2_net;
       Integrated Security=false; User=sa; Password=P@$$w0rd;"/>
       <add name="ConnStringServerISI"
       providerName="System.Data.SqlClient"
       ConnectionString="Server=serverisi; Database=tp2_net; Integrated
       Security=false; User=net; Password=net;"/>
     </ConnectionStrings>
  </configuration>       
    
  
    
  
